<div class="modal-header">
    <a href="javascript:" class="close" data-dismiss="modal">&times;</a>
    <h3><%=__("Terms And Conditions") %></h3>
</div>
<div class="modal-body">
    <p><%=__("An area for the terms and conditions of sale.")%> </p>
</div>
<div class="modal-footer">
    <a href="javascript:" class="btn" data-dismiss="modal"><%=__("Close") %></a>
</div>