extend layout
block content
  h1 #{__('Contact us')}
  p.lead #{__('Contact info')}
  address
    strong Owner
    br
    | Owner &trade; 2014
    br
    | Address 1
    br
    abbr(title="Phone") P:
    |  (11) 456-7890
    br
    abbr(title="Fax") F:
    |  (11) 456-7890
    br
    abbr(title="Email") E:
    |  contact@owner.com